@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

$primary-color:rgb(73, 252, 212);
*{
  padding:0;
  margin:0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro','Courier New', Courier, monospace;
}

html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
}

html,body{
  height: 100%;
}

.container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-content{
  background-color: red;
  padding:20px;
}

.right-content{
  background-color:$primary-color;

  .right-content-container{
    margin: 15rem auto;
    width: 100%;
    max-width: 40rem;
    padding:2rem;
    
  }

  .main-header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: zoom 1s ease-out ;
  }

  @keyframes zoom{
    0%{
      transform:  translateY(10rem)
    }
    100%{
      transform: translateY(0);
    }
  }

  .main-header-content h1{
    font-size:7rem;
    line-height:8rem;
    text-align: right;
    letter-spacing: 0.1rem;
  }

  .main-header-content p{
    font-size:1.7rem;
    line-height:2.7rem;
    text-transform: uppercase;
    text-align: center;
    width:100%;
    max-width: 36rem;
    margin: 1rem 0;
    letter-spacing: 0.2rem;
    margin-left: 2rem;
  }

  .main-header-content p a{
    color:black;
    text-decoration: none;
    border-bottom: 1px dotted black;
    transition: all 0.8s ease-out;
  }

  .main-header-content p a:hover{
    border-bottom-color: rgb(73, 252, 212);;
  }

  .arrow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:2rem;
    font-size:4rem;
    line-height: 5rem;
    font-weight: 700;
    text-align: center;
    
  }
}



